@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome</h1>
        
        <div class="mt-5">
            <a href="@Url.Action("SignIn", "Account")" class="btn btn-primary">Sign In</a>
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register</a>
        </div>
    }
    else
    {
        <h1 class="display-4">Welcome back</h1>
    }
</div>