@model IEnumerable<Quiz.App.ViewModels.Quiz.IndexViewModel>

@{
    ViewData["Title"] = "Start Game";
    Layout = "_Layout";
}

<ul class="list-group mb-4">
    <li class="list-group-item">Choose your category</li>
</ul>

@foreach (var item in @Model)
{
    <a class='btn btn-primary @(item.CategoryHaveQuestions ? "" : "disabled")' asp-action="StartGame" asp-route-categoryId="@item.CategoryId">
        @item.CategoryName
    </a>
}