@model Quiz.App.Models.ViewModels.QuizIndexViewModel

@{
    ViewData["Title"] = "Start Game";
    Layout = "_Layout";
}

<ul class="list-group mb-4">
    <li class="list-group-item">Choose your category</li>
</ul>

@foreach (var category in @Model.Categories)
{
    <a class='btn btn-primary @(category.HaveQuestions ? "" : "disabled")' asp-action="StartGame" asp-route-categoryId="@category.Id">
        @category.Name
    </a>
}