@{
    ViewData["Title"] = "Start Game";
    Layout = "_Layout";
}

<div class="align-content-center">
    <a class="btn btn-primary" asp-controller="Quiz" asp-action="StartGame">Get me questions</a>
</div>         